/src/Pixsys.Library.Media.Common/.build/CakeRelease/Semantic/node_modules/
/src/Pixsys.Library.Media.Common/.vs/
/src/Pixsys.Library.Media.Common/Pixsys.Library.Media.Common/bin/
/src/Pixsys.Library.Media.Common/Pixsys.Library.Media.Common/obj/
/src/Pixsys.Library.Media.Common/.config/CakeRelease.settings.json
/src/Pixsys.Library.Media.Common/.build/CakeRelease/
